body{
		font-size:14px;
		margin:0;
		padding:0;
		color:#000;
		background-color:#f0f0f3;
		background-image:url(../images/background.jpg)
	}

button{
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.available {
	background-color: #00f;
}

.unavailable {
	background-color: #f00;
}

.logo img{
	width:250px;
	height:100px;
}

.wrapper{
	min-height:200px;
	margin: 0 auto;
	width:80%;
	background-color:#f0f0f3;
}

.user{
	font-size:100px;
}

.login{
	margin:3% 25% 3% 25%;
	width:500px;
}

.man-wrap{
	margin:0;
	padding:0;
}

.man-wrap h1{
	margin:0;
	background-color:  #0280db;
	color: #fff;
	text-align:center;
	font-size:30px;
	padding:20px;
}

.availables{
	margin-left:20px;
}

.availables td{
	width:150px;
}